html, #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f3e4e6;

}


/* Cards */
.tweet-card {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: 1.5em;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.tweet-content {
  padding: 1.5em;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-message {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.tweet-creator {
  font-size: 1.1em;
}

.tweet-username {
  font-size: 0.9em;
}

.tweet-date {
  font-size: 0.9em;
  color: #666;
}



* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 1.2em;
  font-style: italic;
  color: #333;
}

.mb-3 {
  width: 70%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
}

.button {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.largerTextarea {
  width: 100%;
  height: 10em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#newPeep-button,
#login-button,
#register-button {
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-message {
  color: #fff;
  background-color: #333;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.smallerTextarea {
  height: 150px;
  width: 350px;
}

/* navbar */
.navbar {
  background-color: #333;
}

.navbar-brand {
  color: white;
  font-size: 18px;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.4);
}

.logout-message {
  background-color: #ff6666;
  color: white;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* bouncing ball footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #242424;
  color: #fff;
  padding: 1em 0;

}.bouncing-ball {
  width: 20px;
  height: 20px;
  background-color: #ff00bbe4;
  border-radius: 50%;
  /* Make it round */
  position: absolute;
  bottom: 50%;
  left: 50%;
  animation: moveAround 6s infinite linear;
}

@keyframes moveAround {
  0% {
    bottom: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  25% {
    bottom: calc(50% - 10px);
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }

  50% {
    bottom: calc(50% - 10px);
    left: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }

  75% {
    bottom: calc(50% - 10px);
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }

  100% {
    bottom: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

/* post a tweet section */
#postComponent {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#postComponent h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.username {
  font-size: 16px;
  color: #666;
}

#postComponent form {
  margin-top: 20px;
}

#postComponent .smallerTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

#postComponent button#newPeep-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#postComponent button#newPeep-button:hover {
  background-color: #0056b3;
}

#postComponent small {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}